// Colors
$clr-primary-400: hsl(172, 67%, 45%);
$clr-neutral-400: hsl(0, 0%, 100%);
$clr-neutral-500: hsl(189, 41%, 97%);
$clr-neutral-600: hsl(185, 41%, 84%);
$clr-neutral-700: hsl(184, 14%, 56%);
$clr-neutral-800: hsl(186, 14%, 43%);
$clr-neutral-900: hsl(183, 100%, 15%);
$clr-light-red: hsl(0, 100%, 67%);

// Font size
$fs-1: 1.45rem;
$fs-2: 2.4rem;
$fs-3: 3.45rem;

// Font family
$ff-primary: "Space Mono", monospace;

// Font weigth
$fw-bold: 700;
